body{
    background-color: whitesmoke;
}

.menu_container{
    display: flex;
}

.menu_item{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background-color: lightblue;
    color: black;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid;
    box-shadow: 3px 3px 3px;
    font-size: 50px;
    text-decoration: none;
    cursor: pointer;
}

.cart{
    display: flex;
    background-color: lightblue;
    box-sizing: border-box;
    border: 1px solid;
    box-shadow: 3px 3px 3px;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 70px;
    background-color: black;
    color: white;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

.picture_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 5%;
}

.pictures{
    display: flex;
    box-sizing: border-box;
    border: 1px solid black;
    box-shadow: 4px 4px 4px black;
    background-color: black;
    margin-bottom: 2.5%;
}

footer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    box-sizing: border-box;
    height: 75px;
    margin-top: 0;
    background-color: yellow;
}